.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 30px;
  border-top: 2px solid #e0e0e0;
  width: 100%; 
  margin: 0; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-column {
  text-align: center;
}

.footer-left img {
  width: 100px; /* Slightly smaller logo */
  padding: 20px;
}

.footer-center p {
  font-size: 12px; /* Adjust text size */
  color: #888888;
}

.footer-right a {
  margin: 0 8px;
  color: #007bff;
  font-size: 20px; /* Slightly smaller icons */
}

.footer-right a:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* Vertical line between the columns */
.vertical-line {
  width: 1px;
  background-color: #e0e0e0;
  height: 40px; /* Adjusted height */
  margin: 0 15px;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}